<div class="row">
    <div class="col-md-8 offset-md-2 text-center">
        <h2>Your Profile</h2>
        <%
=begin%>
        <%= @chef.chefname %>
        <p>Name <%= @chef.chefname %></p>
        <p>Email <%= @chef.email %></p>
        <p>Your Recipes</p>
        <ul>
            <li><%= @chef.recipe.first%></li>
        </ul>
        <%
=end%>
    </div>
</div>


<%= @chef %>