<% obj.each do |recipe|%>
<div class="row border-bottom m-3">
    <div class="col-md-4">
        <%
=begin%>
        <img src="images/mango-smoothie.jpg" class="img-fluid" alt="recipe photo">
        <%
=end%>
    </div>
    <div class="col-md-8">
        <h5 class="name"> <%= link_to recipe.name, recipe_path(recipe) %></h5>
        <p> <%= recipe.description %></p>
        <% if recipe.ingredients.any? %>
        <p><span class="small">Ingredients:</span> <%= render recipe.ingredients %></p>
        <% end %>
        <p><span class="small text-danger text-uppercase">By <%= link_to recipe.chef.chefname, chef_path(recipe.chef), class:"text-danger" %></span>
            <span class="small text-secondary text-bold"> | <%= recipe.chef.created_at.strftime("%m.%d.%Y") %></span>
            <span class="small text-secondary text-bold">| <%= pluralize(recipe.comments.count, 'Comment') %></span></p>
        <% if logged_in? && (recipe.chef == current_chef || current_chef.admin? ) %>

        <p class="small"><%= link_to 'Edit your recipe', edit_recipe_path(recipe) %><span class="px-3 text-secondary">|</span><%= link_to 'Delete your recipe', recipe_path(recipe), method: :delete, data: {confirm: 'Are you sure'} %></p>
        <% end %>
    </div>
</div>

<% end %>