<div class="row m-5">
    <div class="col-md-8 offset-md-2 text-center">
        <p class="small text-left mb-4"><%= link_to 'Back to Recipes List', recipes_path %></p>
        <h2 class="mb-4"><%= @recipe.name %></h2>
        <p class="lead"><%= simple_format(@recipe.description) %></p>
        <% if @recipe.ingredients.any? %>
        <p><span class="small">Ingredients:</span> <%= render @recipe.ingredients %></p>
        <% end %>
        <p><%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %></p>
        <p class="mb-1 small text-uppercase">By <%= @recipe.chef.chefname %></p>
        <p class="small text-secondary text-bold"><%= @recipe.chef.created_at.strftime("%B %d, %Y") %></p>
        <%= render 'shared/like', obj:@recipe %>
        <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>

        <p class="small"><%= link_to 'Edit your recipe', edit_recipe_path(@recipe) %><span class="px-3 text-secondary">|</span><%= link_to 'Delete your recipe', recipe_path(@recipe), method: :delete, data: {confirm: 'Are you sure'} %></p>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <% if logged_in?%>
        <%= form_for([@recipe, @comment], remote: true) do |f| %>
        <div class="form-group">
            <%= f.text_area :description, class:"form-control", rows: 4, placeholder:"Any comments?"%>
        </div>
        <%= f.submit 'Post', class:"btn btn-danger" %>
        <% end %>
        <% end %>
    </div>
</div>


<% if @recipe.comments !=0 %>
<div class="row">
    <div class="col-md-6 offset-md-3 mb-5">
        <hr>
        <p class="mb-3 text-secondary">Comments:</p>
        <div id="comments">
            <div id="messages">
                <%= render partial: 'comments/comments', object: @comments %>
            </div>
        </div>
    </div>
</div>
<% end %>