<div class="row m-5">
    <div class="col-md-10 offset-md-1 text-center">
        <p class="small text-left mb-4"><%= link_to 'Back to Recipes List', recipes_path %></p>
        <h2 class="mb-4"><%= @recipe.name %></h2>
        <p class="lead"><%= simple_format(@recipe.description) %></p>
        <p><%= link_to gravatar_for(@recipe.chef), recipes_path %></p>
        <p class="mb-1 small text-uppercase">By <%= @recipe.chef.chefname %></p>
        <p class="small text-secondary text-bold"><%= @recipe.chef.created_at.strftime("%B %d, %Y") %></p>

        <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>

        <p class="small"><%= link_to 'Edit your recipe', edit_recipe_path(@recipe) %><span class="px-3 text-secondary">|</span><%= link_to 'Delete your recipe', recipe_path(@recipe), method: :delete, data: {confirm: 'Are you sure'} %></p>
        <% end %>
    </div>
</div>