<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="text-center">
            <h2 class="mb-3"><%= @ingredient.name.titleize %>
                <% if logged_in? && current_chef.admin? %>
                <span class="h6 ml-2 font-weight-light"><%= link_to 'Edit', edit_ingredient_path(@ingredient), class:"small"%></span>
                <% end %>
            </h2>
            <p class="text-uppercase small mt-3">Recipes with <%= @ingredient.name %></p>
            <% if logged_in? && current_chef == @chef %>
            <%
=begin%>
            <%= link_to 'Edit Your Profile', edit_chef_path(current_chef) %>
            <%
=end%>
            <% end %>
        </div>
        <hr>
        <% if @ingredient.recipes.count != 0 %>
        <%= will_paginate @ingredient_recipes, list_classes: %w(pagination justify-content-center mt-2 mb-4) %>
        <% end %>
        <%
=begin%>
        <%= render 'recipes/recipe', obj: @chef_recipes %>
        <%
=end%>
        <%= render 'recipes/recipe', obj: @ingredient_recipes %>
    </div>
</div>